.hero{
  min-height: 70vh;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  .hero-button{
    margin-top: 2rem;
    max-width: fit-content;
  }
}

figure {
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(2px 4px 100px #2D213C);

  img  {
    height: 500px;
  }
}

section.container-timeline{
  margin-top: 2rem;
  h2{
    text-align: center;
  }
}


@media screen and (max-width: 1024px) {
  .hero {
    display: flex;
    flex-direction: column-reverse;
    gap: 0;

    figure{
      display: flex;
      justify-content: center;

      img {
        max-height: 250px;
      }
    }

    article h2 {
      text-align: center;
    }

    article .hero-button{
      margin: 1rem auto;
    }
  }
}
