<section class="hero">
  <article class="hero-description">
    <h2 class="hanken-grotesk">
      Desvendando o Quântico
    </h2>
    <p class="medium-text poppins">
      Venha conhecer fatos sobre o desenvolvimento da computação quântica! Como que surgiu? Quais seus fundamentos?
      Como está sendo desenvolvimento ao longo dos anos? Quais as aplicações e os usos atuais da computação
      quântica?
    </p>
    <a href="#" class="hero-button">
      <app-button variant="secundaria" size="lg">
        <p class="regular-text medium poppins">Embarque nessa jornada!</p>
      </app-button>
    </a>
  </article>
  <figure class="hero-image">
    <img
      src="/assets/images/hero-svg.svg"
      alt="Ilustração animada com fundo escuro representando um ambiente tecnológico e futurista. À esquerda, há uma grande lâmpada branca com tons lilás, simbolizando uma ideia. Dentro da lâmpada, há partículas roxas que lembram um núcleo atômico, e várias órbitas circulares com elétrons ao redor, destacando o conceito de energia ou inovação científica. À direita, uma pessoa flutua, usando óculos de realidade virtual, luvas tecnológicas e roupas em tons de preto e roxo. A pessoa se movimenta suavemente de cima para baixo, assim como a lâmpada. Ao redor, engrenagens, estrelas e ícones tecnológicos completam a cena, reforçando o tema de criatividade e realidade aumentada."
      height="250"
    >
  </figure>
</section>

<section class="container-timeline">
  <h2 class="hanken-grotesk">Origem da Computação Quântica</h2>

  <app-timeline></app-timeline>
</section>
